body {
	background-color: #7caeff;
	margin: 0;
}

ul {
	padding-left: 20px;
	list-style-type: none;

}

h3{
    margin-top: 5px;
}

#slime-food{
	background-image: url("/Users/tech-a60/project1/images/slimefood.png");
	background-size: 50px;
	position: absolute;
	left: 50px;
	top: 50px;
	width: 50px;
	height: 50px;
}

#slime-container{
	position: absolute;	
	left: 10%;
	top: 550px;
	height: 20px;
	width: 20px;
}

#slime{
	position: static;
/*	bottom: 10%;
	left: 50%;*/
	background-color: #00ff26;
	width: 1px;
	height: 1px;
	border-radius: 50%;
}


#score{
	position: absolute;
	left: 50%;
	top: 5%;
    font-family: 'Antic';font-size: 40px;

}
.shop-title{

	position: absolute;
	display: inline-block;
    right: 40px;
    top: 110px;
    font-family: 'Antic';font-size: 20px;
    height: 40px;
    width: 300px;
    background: rgba(54, 25, 25, .2);
    text-align: center;
    border-radius: 3px
}
.shop{
	position: absolute;
	display: inline-block;
    right: 0px;
    top: 40px;
    font-family: 'Antic';font-size: 20px;
    height: 500px;
    width: 300px;
    background: rgba(54, 25, 25, .1);
    overflow: scroll;
    text-align: left;
    border-radius: 3px
}

.btn-minimize {
	position: absolute;
	background: rgba(54, 25, 25, .0);
	height: 40px;
	width: 300px;
    right: 0px;
    top: 0px;
    font-size: 20px;
    border-radius: 5px;
}

.basic-worker{
	background-image: url("/Users/tech-a60/project1/images/basicworker.png");
	background-size: 40px;
	display:inline-block;
	background-repeat: no-repeat;
	position: relative;
	width: 50px;
	height: 60px;
}

.workers{
	position: absolute;
	display:inline-block;
    left: 40px;
    top: 110px;
    font-family: 'Antic';font-size: 20px;
    height: 500px;
    width: 300px;
}

.slime-feeder{
	background-image: url("/Users/tech-a60/project1/images/slimefeeder.png");
	background-size: 40px;
	display:inline-block;
	background-repeat: no-repeat;
	position: relative;
	width: 50px;
	height: 60px;
}

.worker-buy{
	height: 20px;
	width: 30px;
}

.feeder-buy{
	height: 20px;
	width: 30px;
}

































