body {
	background-color: #7caeff;
	margin: 0;
}

ul {
	padding-left: 20px;
	list-style-type: none;

}

h3{
    margin-top: 5px;    
    margin-bottom: 10px;
}

#slime-food{
	background-image: url("../images/slimefood.png");
	background-size: 50px;
	position: absolute;
	left: 50px;
	top: 50px;
	width: 50px;
	height: 50px;
}

.mini-food{
	background-image: url("../images/slimefood.png");
	background-size: 25px;
	position: absolute;
	left: 50px;
	top: 50px;
	width: 25px;
	height: 25px;
}

#slime-container{
	position: absolute;	
	display: inline-block;
	left: 10%;
	top: 550px;
	margin: 10px;
}

#slime{
	position: static;
	display: inline-block;
	background-color: #00ff26;
	width: 1px;
	height: 1px;
	border-radius: 50%;
	border-style: solid;
	border-color: #18824f;
}

#score{
	position: absolute;
	left: 50%;
	top: 5%;
    font-family: 'Antic';font-size: 40px;

}

.instructions-title{

	position: absolute;
	display: inline-block;
    right: 343px;
    top: 110px;
    font-family: 'Antic';font-size: 20px;
    height: 40px;
    width: 300px;
    background: rgba(54, 25, 25, .2);
    text-align: center;
    border-radius: 3px
}

.shop-title{

	position: absolute;
	display: inline-block;
    right: 40px;
    top: 110px;
    font-family: 'Antic';font-size: 20px;
    height: 40px;
    width: 300px;
    background: rgba(54, 25, 25, .2);
    text-align: center;
    border-radius: 3px
}

.shop{
	position: absolute;
	display: inline-block;
    right: 0px;
    top: 40px;
    font-family: 'Antic';font-size: 20px;
    height: 500px;
    width: 300px;
    background: rgba(54, 25, 25, .1);
    overflow: scroll;
    text-align: left;
    border-radius: 3px
}

.shop-minimize {
	position: absolute;
	background: rgba(54, 25, 25, .0);
	height: 40px;
	width: 300px;
    right: 0px;
    top: 0px;
    font-size: 20px;
    border-radius: 5px;
}

.instructions{
	position: absolute;
	display: inline-block;
	right: 0px; 
    top: 40px;
    font-family: 'Antic';font-size: 20px;
    height: 500px;
    width: 300px;
    background: rgba(54, 25, 25, .1);
    overflow: scroll;
    text-align: left;
    border-radius: 3px
}

.instructions-minimize {
	position: absolute;
	background: rgba(54, 25, 25, .0);
	height: 40px;
	width: 300px;
    right: 0px;
    top: 0px;
    font-size: 20px;
    border-radius: 5px;
}

.basic-worker{
	background-image: url("../images/basicworker.png");
	background-size: 40px;
	display:inline-block;
	background-repeat: no-repeat;
	position: relative;
	width: 42px;
	height: 67px;
}

.slime-taskmaster{
	background-image: url("../images/slimetaskmaster.png");
	background-size: 40px;
	display:inline-block;
	background-repeat: no-repeat;
	position: relative;
	width: 42px;
	height: 67px;
}

.workers{
	position: relative;
	display:inline-block;
    font-family: 'Antic';font-size: 20px;
    height: 500px;
    width: 300px;    
    padding-left: 40px;

}

.bench{
	position: absolute;
	display:inline-block;
    left: 40px;
    top: 110px;
    font-family: 'Antic';font-size: 20px;
    height: 500px;
    width: 300px;
}

.slime-feeder{
	background-image: url("../images/slimefeeder.png");
	background-size: 40px;
	display:inline-block;
	background-repeat: no-repeat;
	position: relative;
	width: 42px;
	height: 67px;
}

.slime-doctor{
	background-image: url("../images/slimedoctor.png");
	background-size: 40px;
	display:inline-block;
	background-repeat: no-repeat;
	position: relative;
	width: 42px;
	height: 67px;
}

.worker-buy{
	height: 20px;
	width: 30px;
}

.feeder-buy{
	height: 20px;
	width: 30px;
}

@keyframes jelly {
  11.1% {
    transform: none
  }
  22.2% {
    transform: skewX(-12.5deg) skewY(-12.5deg)
  }
  33.3% {
    transform: skewX(6.25deg) skewY(6.25deg)
  }
  44.4% {
    transform: skewX(-3.125deg) skewY(-3.125deg)
  }
  55.5% {
    transform: skewX(1.5625deg) skewY(1.5625deg)
  }
  66.6% {
    transform: skewX(-0.78125deg) skewY(-0.78125deg)
  }
  77.7% {
    transform: skewX(0.390625deg) skewY(0.390625deg)
  }
  88.8% {
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg)
  }
  100% {
    transform: none
  }
}

.jelly {
  animation: jelly 2s infinite;
  transform-origin: center
}

.stress-bar {
	position: absolute;
    width: 40px;
    height: 6px;
    bottom: 2%;
    border-radius: 10%;
    background: grey;
    border-color: grey;
    overflow: hidden;   
}

.stress {
	position: absolute;
    width: 0px;
    max-width: 40px;
    min-width: 0px;
    height: 6px;
    bottom: 2%;
    border-radius: 10%;
    background: black;
    border-color: black;
    overflow: initial;  
}




























