body {
	background-color: #7caeff;
}

#slime-food{
	background-image: url("/Users/tech-a60/project1/images/slimefood.png");
	background-size: 50px;
	position: absolute;
	left: 50px;
	top: 50px;
	width: 50px;
	height: 50px;
}

#slime{
	position: fixed;
	bottom: 10%;
	left: 50%;
	background-color: black;
	width: 1px;
	height: 1px;
	border-radius: 50%;
}

#score{
	position: absolute;
	left: 50%;
	top: 5%;
    font-family: 'Antic';font-size: 40px;

}

.basic-worker{
	background-image: url("/Users/tech-a60/project1/images/basicworker.png");
	background-size: 40px;
	display:inline-block;
	background-repeat: no-repeat;
	position: relative;
	width: 50px;
	height: 60px;
}

.workers{
	position: absolute;
	display:inline-block;
    left: 40px;
    top: 110px;
    font-family: 'Antic';font-size: 20px;
    height: 500px;
    width: 500px;

}
